extends layout

block content
	.jumbotron
		h1 Todo
		p.lead Simple to-do list app
		p
			a.btn.btn-lg.btn-primary(role='button', data-toggle='modal', data-target='#signup') Sign Up
		p 
			a.btn.btn-lg.btn-default(role='button', data-toggle='modal', data-target='#login') Log In
	.modal.fade#signup
	.modal.fade#login