doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
		- each css in styles 
			link(rel='stylesheet' href= css)
	body
		.container
			block content
		script(type='text/javascript', src='jquery-1.11.1.min.js')
		script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
		- each script in javascripts
			script(type='text/javascript' src= script)


