.modal.fade#login(role='dialog', aria-labelledby='label', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal")
					span(aria-hidden="true") x
					span(class="sr-only") Close
				h4.modal-title Please Log In
			form.form-horizontal#loginForm(role="form" method="post" action="/login")
				.modal-body
					.form-group
						label.col-sm-2.control-label(for="username") Username 
						.col-sm-10
							input.form-control(type='text', name='username')
					.form-group
						label.col-sm-2.control-label(for="password") Password 
						.col-sm-10
							input.form-control(type='password', name='password')
				.modal-footer
					button.btn.btn-primary(type='submit') Log In