.modal.fade#login(role='dialog', aria-labelledby='label', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal")
					span(aria-hidden="true") x
					span(class="sr-only") Close
				h4.modal-title#label Please Log In
			.modal-body
				form.form-horizontal(role="form")
					.form-group
						label.col-sm-2.control-label(for="username") Username 
						.col-sm-10
							input.form-control#email(type='text')
					.form-group
						label.col-sm-2.control-label(for="password") Password 
						.col-sm-10
							input.form-control#password(type='text')
			.modal-footer
				button.btn.btn-primary(type='button') Log In
